<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Habilidades</title>
    <link rel="shortcut icon" href="../img/icons8.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/habil.css">

    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-overlay" onclick="toggleMenuOpen()"></div>
  
        <button type="button" class="navbar-burger" onclick="toggleMenuOpen()">
          <span class="material-icons">menu</span>
        </button>
        <h1 class="navbar-title">Habilidades</h1>
        <nav class="navbar-menu">
          <a type="button" href="../index.html" style="color: #f9f9f9;" class="active">Inicio</a>
          <a type="button" href="../views/quien.html" style="color: #f9f9f9;">Quien Soy</a>
          <a type="button" href="../views/habilidades.html" style="color: #f9f9f9;">Habilidades</a>
          <a type="button" href="../views/lenguajes.html" style="color: #f9f9f9;">Lenguajes de 'P' que Domino</a>
          <a type="button" href="../views/proyectos.html" style="color: #f9f9f9; font-size: medium;">Proyectos</a>
        </nav>
      </nav>
      <script type="text/javascript" src="../css/main.js"></script>



    <header>
        <section class="textos-header">
            <h1>Mis Habilidades</h1>
            <h2></h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>    
    </header>
    <main>
        <section class="about-services">
            <div class="contenedor">
                <h2 class="titulo">Mis Hablidades</h2>
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src="../img/auto.webp" alt="">
                        <h3>Autoconocimiento</h3>
                        <p>Soy una persona que conoce sus capacidades, y asi 
                            también mis defectos.
                        </p>
                    </div>
                    <div class="servicio-ind">
                        <img src="../img/pensa.webp" alt="">
                        <h3>Pensamiento creativo</h3>
                        <p>En General creo que tengo la capacidad de ser una persona
                            creativa, ya que me gusta aportar ideas y soluciones.
                        </p>
                    </div>
                    <div class="servicio-ind">
                        <img src="../img/moti.webp" alt="">
                        <h3>Motivación y confianza</h3>
                        <p>Soy una persona que siempre se motiva a serguir adelante
                            apesar de las situación en la que me encuentre.
                        </p>
                    </div>
                </div>
            </div>
            <center> <a name="" id="" class="button button2" href="https://acortar.link/aXORdW" role="button">Currículum</a>
            </center>   
        </section>
    </main>    

    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="../index.html">
                        <img src="../img/icons8.png" alt="Carlos Ticún">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>CONTÁCTAME</h2>
                <p style="font-size: medium;">NÚMERO: <a style="font-size: medium;" href="https://api.whatsapp.com/send?phone=50246171290&text=Hola%20Guapo." target="_blank">4617-1290</a></p>
                <p>CORREO: geovaniticun1010@gmail.com</p>
            </div>
            <div class="box">
                <h2>SIGUEME</h2>
                <div class="red-social">
                    <a href="https://www.facebook.com/geovanny.ticun.5/" class="fa fa-facebook"></a>
                    <a href="https://www.instagram.com/g3.metal_/" class="fa fa-instagram"></a>
                    <a href="https://mobile.twitter.com/GcTicun" class="fa fa-twitter"></a>
                    <a href="https://www.youtube.com/channel/UCPhbS0pTev5R4SlhlU1pXtA" class="fa fa-youtube"></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2023 <b>Gc Tm</b> - Carlos Geovani Ticún López.</small>
        </div>
    </footer>
    
</body>
</html>