<!doctype html>
<html>
<head>
  <link rel="shortcut icon" href="../img/icons8.png" type="image/x-icon">
  <title>Proyectos</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="../css/style.css">

<link rel="stylesheet" href="../css/estilos.css">
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>

</head>
<body class="body_proyectos">
  <nav class="navbar">
    <div class="navbar-overlay" onclick="toggleMenuOpen()"></div>

    <button type="button" class="navbar-burger" onclick="toggleMenuOpen()">
      <span class="material-icons">menu</span>
    </button>
    <h1 class="navbar-title">Proyectos</h1>
    <nav class="navbar-menu">
      <a type="button" href="../index.html" style="color: #f9f9f9; font-size: medium;" class="active">Inicio</a>
      <a type="button" href="../views/quien.html" style="color: #f9f9f9; font-size: medium;">Quien Soy</a>
      <a type="button" href="../views/habilidades.html" style="color: #f9f9f9; font-size: medium;">Habilidades</a>
      <a type="button" href="../views/lenguajes.html" style="color: #f9f9f9; font-size: medium;">Lenguajes de 'P' que Domino</a>
      <a type="button" href="../views/proyectos.html" style="color: #f9f9f9; font-size: medium;">Proyectos</a>
    </nav>
  </nav>
  <script type="text/javascript" src="../css/main.js"></script>
  <header>
    <section class="textos-header">
        <h1>Mis Proyectos </h1>
        <h2></h2>
    </section>
    <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill:  #ffffff"></path>
        </svg></div>
</header>
  <div class="container">   
    <div class="card-group mt-3">
            <div class="card">
                <div class="card--left">
                   <h2 style="color: #0c589e;" class="card__title">Generador de Contraseñas</h2>
                   <p class="card__description">Crea una contraseña al azar
                    decidiendo por ti mismo que tipo de caracteres llevara.</p>
                   <a href="../proyects/Generador/index.html" class="card__cta">Proyecto →</a>
                </div>
            </div>
            <div class="card">
                <div class="card--left">
                   <h2 style="color: #0c589e;" class="card__title">Destruye Colores</h2>
                   <p class="card__description">Juega en la Web destruyendo cuatros de Colores.
                   </p><p class="card__description" style="color: red;">(Juego solo para PC)</p>
                   <a href="../proyects/ColorBlash/index.html" class="card__cta">Proyecto →</a>
                </div>
            </div> 
            <div class="card">
                <div class="card--left">
                   <h2 style="color: #0c589e;" class="card__title">SNAKE GAME</h2>
                   <p class="card__description">Juega el tradicional juego de la serpiente
                    desde tu PC.</p><p class="card__description" style="color: red;">(Juego solo para PC)</p>
                   <a href="../proyects/Guns game/index.html" class="card__cta">Proyecto →</a>
                </div>
            </div>          
    </div>
     
    <div class="card-group mt-3">
      <div class="card">
          <div class="card--left">
             <h2 style="color: #0c589e;" class="card__title">Space Metal Galaxy</h2>
             <p class="card__description">Juega en el espacio, teniendo el control de una nave
                que destrulle meteoritos en el Espacio.</p>  
             <a href="#" class="card__cta">No disponible</a>
          </div>
      </div>         
</div>
</div><br><br>  

  <footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="../index.html">
                    <img src="../img/icons8.png" alt="Carlos Ticún">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>CONTÁCTAME</h2>
            <p style="font-size: medium;">NÚMERO: <a style="font-size: medium;" href="https://api.whatsapp.com/send?phone=50246171290&text=Hola%20Guapo." target="_blank">4617-1290</a></p>
            <p style="font-size: medium;">CORREO: geovaniticun1010@gmail.com</p>
        </div>
        <div class="box">
            <h2>SIGUEME</h2>
            <div class="red-social">
                <a href="https://www.facebook.com/geovanny.ticun.5/" class="fa fa-facebook"></a>
                <a href="https://www.instagram.com/g3.metal_/" class="fa fa-instagram"></a>
                <a href="https://mobile.twitter.com/GcTicun" class="fa fa-twitter"></a>
                <a href="https://www.youtube.com/channel/UCPhbS0pTev5R4SlhlU1pXtA" class="fa fa-youtube"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2023 <b>Gc Tm</b> - Carlos Geovani Ticún López.</small>
    </div>
</footer>

</body>
</html>