<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Quien Soy</title>
    <link rel="shortcut icon" href="../img/icons8.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">

    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-overlay" onclick="toggleMenuOpen()"></div>
  
        <button type="button" class="navbar-burger" onclick="toggleMenuOpen()">
          <span class="material-icons">menu</span>
        </button>
        <h1 class="navbar-title">Quien Soy</h1>
        <nav class="navbar-menu">
            <a type="button" href="../index.html" style="color: #f9f9f9; font-size: medium;" class="active">Inicio</a>
      <a type="button" href="../views/quien.html" style="color: #f9f9f9; font-size: medium;">Quien Soy</a>
      <a type="button" href="../views/habilidades.html" style="color: #f9f9f9; font-size: medium;">Habilidades</a>
      <a type="button" href="../views/lenguajes.html" style="color: #f9f9f9; font-size: medium;">Lenguajes de 'P' que Domino</a>
      <a type="button" href="../views/proyectos.html" style="color: #f9f9f9; font-size: medium;">Proyectos</a>
        </nav>
      </nav>
      <script type="text/javascript" src="../css/main.js"></script>


    <header>        
        <center>
            <br><br><br><br>
            <section class="card_soy">
                <center><img src="../img/yo.jpeg" width="180" alt="" class="box_quien-img"></center> 
                 <h1 class="card__title">Carlos Ticún</h1>
                 <h2 class="card__title">6to - Informática</h2>
                 <p class="card__description">Soy un estudiante de último año de la Carrera de Informática, me gusta mucho los juegos Móviles, también me gusta
                     leer libros psicologicos y mi genero favorito en la música es el Thrash Metal.</p>
                 <!--
                 <ul>
                   <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                   <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                   <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></i></a></li>
                   <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                 </ul>          
               -->
             </section>
        </center>
    </header>

    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="../index.html">
                        <img src="../img/icons8.png" alt="Carlos Ticún">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>CONTÁCTAME</h2>
                <p style="font-size: medium;">NÚMERO: <a style="font-size: medium;" href="https://api.whatsapp.com/send?phone=50246171290&text=Hola%20Guapo." target="_blank">4617-1290</a></p>
                <p style="font-size: medium;">CORREO: geovaniticun1010@gmail.com</p>
            </div>
            <div class="box">
                <h2>SIGUEME</h2>
                <div class="red-social">
                    <a href="https://www.facebook.com/geovanny.ticun.5/" class="fa fa-facebook"></a>
                    <a href="https://www.instagram.com/g3.metal_/" class="fa fa-instagram"></a>
                    <a href="https://mobile.twitter.com/GcTicun" class="fa fa-twitter"></a>
                    <a href="https://www.youtube.com/channel/UCPhbS0pTev5R4SlhlU1pXtA" class="fa fa-youtube"></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2023 <b>Gc Tm</b> - Carlos Geovani Ticún López.</small>
        </div>
    </footer>
    
    
</body>
</html>